/* eslint-disable */

import React from 'react';
import Iconfont_#platform# from './#platform#/#platform#';

export const IconFont = (props) => {
  const { name, size, color } = props;

  // FIXME: RemaxJs doesn't support pxTransform()
  return <Iconfont_#platform# name={name} size={size} color={color} />;
};

IconFont.defaultProps = {
  size: #size#,
};

export default IconFont;
