/* tslint:disable */
/* eslint-disable */

import React, { FunctionComponent } from 'react';

export type IconFontNames = '#names#';

export interface Props {
  name: IconFontNames;
  size?: number;
  color?: string | string[];
}

const IconFont: FunctionComponent<Props> = () => {
  return null;
};

export default IconFont;
